.App {
  min-height: 100vh;
  background-color: #242424;
  color: white;
}

a {
  transition: color 0.3s;
}

a:hover {
  color: #747bff !important;
}

button:hover {
  opacity: 0.9;
  transform: scale(1.02);
  transition: all 0.2s;
}

button:active {
  transform: scale(0.98);
}
